// font style
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&family=Roboto:ital,wght@0,300;0,500;0,700;1,100;1,300;1,700&display=swap');
// Roboto + Fredoka
// font color
$mainColor             : #000;

$mainBackgroundColor   : #FFF;
// 


$sizeH1                : 2rem;
$sizeH2                : 1.5rem;
$sizeH3                : 1.2rem;
$sizeParagraphe        : 1rem;
$sizePetitParagraphe   : 0.9rem;
