#auth__global {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

#auth__container {
  width: 55%;
  height: 83vh;
}
#auth__picture {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 90vh;
}
#auth__picture img {
  height: 100vh;
}

#auth__container .auth__logo {
  padding: 1rem;
}
#auth__container .auth__logo img {
  width: 10%;
}

#auth__container .auth__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 1rem;
}

#auth__container .auth__conditions {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  align-items: center;
  transform: translateY(40%);
}
#auth__container .auth__conditions h3{
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
#auth__container .auth__conditions .cards__container {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  width: 65%;
}

#auth__container .auth__conditions .cards__container .card__box {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 20px;
  -webkit-box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.17);
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.17);
  transition: .6s;
}
#auth__container .auth__conditions .cards__container .card__box:hover {
  background-color: var(--blue);
}

.card__item h4 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.card__item p {
  font-size: 0.9rem;
}
.card__logo img {
  width: 70%;
}
