#planning .wrap .hours {
  text-align: center;
  font-size: 1.6rem;
  margin: 1rem;
}

.calendar {
  background-color: #F6F6F6;
  border-radius: .8rem;
  padding: 1rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.17);
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.17);
}
.semaine{
 text-align: center;
 margin-bottom: 2rem;
}
.calendar .calendarBody {
  display: flex;
  align-items: top;
  justify-content: space-between;
}
/* .calendar .calendarBody .calendarLeft {
 width: 19%;
}
.calendar .calendarBody .calendarRight {
  width: 79%;
  display: flex;
  align-items: top;
  justify-content: space-between;
} */
.days {
  width: 13.33333%;
  text-align: center;
}
.day h2 {
  margin-bottom: 1rem;
}
.slot {
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: var(--green);
  color: white;
  margin-bottom: 1rem;
  cursor: pointer;
  -webkit-box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.17);
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.17);
}

.send {
  text-align: center;
  
}
#send {
  text-align: center;
  background-color: darkblue;
  color: white;
  padding: 1rem;
  border-radius: 0.3rem;
  -webkit-box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.17);
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.17);
}

.clicked {
  background-color: red !important;
}

.reservation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.reservation h2{
  margin-bottom: 1rem;
}
 

.reservation input[type="submit"]{
  cursor:pointer;
  padding: .8rem;
  border: none;
  background-color: var(--green);
  border-radius: .8rem;
  font-size: 1.2rem;
  -webkit-box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.17);
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.17);
 }