#facture{
    padding: 3rem 0;
    .wrap{
        border: 4mm ridge rgba(211, 220, 50, .6);
        padding: 1rem;
        .head{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;            
            .logo{
                display: flex;
                flex-flow: column;
                align-items: center;
                padding-right: 10rem;
                img{
                    width: 10rem;                   
                }
            }            
        }
        .title{
            p{
                font-size: 1.5rem;
                font-weight: bold;
            }
        }       
        .contacts{
            padding: 1rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            .contact{
                display: flex;
                flex-flow: column nowrap;
            }
            .contact.left{
                width: 100%;
            }
            .contact.right{
                width: 100%;
            }
        }
        .list-facture{
            .title{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;
            }
            .factures{
                .facture{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    padding: 1rem;
                }
            }
            .total{
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-end;
                padding: 1rem;
                font-size: 1.5rem;
            }

        }
            
    }
}

.pdf{
    margin-bottom: 2rem;
    .wrap{
        display: flex;
        justify-content: flex-end;
        .btnPdf{
            background-color: red;
            padding: 1rem;
            border-radius: 1rem;
            color: white;
            cursor: pointer;   
        }
    }
    
}