#connexion .wrap {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
  
}
#connexion .wrap h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 2rem;
}
#connexion .wrap form {
  margin-bottom: 2rem;
  padding: 4rem 0;
  background-color: var(--green);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0.8rem;
  -webkit-box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.17);
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.17);
}
#connexion .wrap form input {
  -webkit-box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.17);
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.17);
  padding: 1.4rem;
  margin-bottom: 2.5rem;
  border-radius: 0.8rem;
  border: none;
  width: 65%;
  text-align: center;
  font-size: 1.2rem;
}

#connexion .wrap form input::placeholder {
  color: black;
}
#connexion .wrap form input[type="submit"] {
  width: 30%;
  transition: .5s;
  cursor: pointer;
}
#connexion .wrap form p {
  text-align: center;
}

#connexion .wrap form a{
  margin-bottom: 1rem;
  color: blue;
 
}
#radio {
  display: inline-block;
  background-color: inherit;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0);
  width: 5% !important;
}
.rad {
  display: flex;
  align-items: top;
  justify-content: space-between;
}

#connexion .error {
  color: red;
}

#connexion input[type="submit"]:hover {
  background-color: var(--hover);
  color: white;
}
#connexion input[type="checkbox"] {
  -webkit-box-shadow: 1px 2px 3px 1px rgb(0 0 0 / 0%);
  box-shadow: 1px 2px 3px 1px rgb(0 0 0 / 0%)!important;
}
.childrenSearch {
  display: none;
  position: absolute;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  left: 50%;
  top: 35%;
  transform: translate(-50%);
  width: 500px;
  height: 200px;
  -webkit-box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.17);
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.17);
}
.infos {
  margin-bottom: 1rem;
  cursor: pointer;
}

