#connexion .wrap {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
}
#connexion .wrap h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 2rem;
}
#connexion .wrap form {
  margin-bottom: 2rem;
  padding: 7rem 0;
  background-color: var(--green);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0.8rem;
}
#connexion .wrap form input {
  padding: 1.2rem;
  margin-bottom: 2rem;
  border-radius: 0.8rem;
  border: none;
  width: 70%;
  text-align: center;
}
#connexion .wrap form input[type="submit"] {
  width: 30%;
}
#connexion .wrap form p {
  text-align: center;
}
#connexion .wrap form a {
}
