#main {
  padding-top: 1rem;
  width: 100%;
  background-color: var(--blue);
  height: 90vh;
}
.wrap2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
#main .wrap2 .leftMain {
  width: 48%;
  z-index: 99;
}
#main .wrap2 .leftMain h1 {
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
#main .wrap2 .leftMain h2 {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

#main .wrap2 .top {
  border-radius: 10rem;
  background-color: white;
  padding: 1.5rem;
  display: flex;
  align-items: top;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 120%;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.28);
}

.bottom {
  width: 120%;
  text-align: center;
}

input[type="submit"] {
  width: 23.33333%;
  background-color: var(--green);
  padding: 0.9rem;
  border-radius: 10rem;
  border: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.28);
}
#main .wrap2 select {
  border: none;
  font-size: 1.3rem;
}

#main .wrap2 .rightMain {
  width: 50%;
}
#main .wrap2 .rightMain img {
  width: 82%;
}

.nenu {
  position: absolute;
  width: 20%;
  bottom: 31%;
  left: -3%;
  z-index: 0;
}
.fleurs {
  position: absolute;
  width: 10%;
  left: 27%;
  top: 28%;
  z-index: -1;
}
/* SOLUTIONS */

#solutions {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 13rem;
  position: relative;
  padding: 10rem 0;
}
#solutions .bigPic {
  position: absolute;
  height: 600px;
  width: 100%;
  border-radius: 0.6rem;
  top: -42%;
  border-radius: 0.8rem;
}
#solutions .filtre {
  height: 600px;
  width: 100%;
  position: absolute;
  top: -42%;
  border-radius: 0.8rem;

  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.txtSolutions {
  position: absolute;
  color: white;
  z-index: 33;
  left: 15%;
  top: 30%;
}
.txtSolutions h2 {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 4rem;
}
.txtSolutions a {
  font-size: 1.4rem;
  text-decoration: none;
  color: white;
  background-color: var(--green);
  padding: 0.8rem;
  border-radius: 0.3rem;
}
/* CARDS */
#cards {
  margin-bottom: 2rem;
}
#cards .wrap3 {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
#cards .wrap3 h2 {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
}
#cards .wrapCards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#cards .wrapCards .card {
  width: 18.3333%;
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.5rem;
}
#cards .wrapCards .card img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  margin-bottom: 1rem;
}
#cards .wrapCards .card h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1.4rem;
  color: white;
}
/* ADRESSE SEARCH */

.childrenSearch {
  display: none;
  position: absolute;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  left: 0;
  top: 6%;
  width: 300px;
  height: 230px;
  -webkit-box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.17);
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.17);
}
.infos {
  margin-bottom: 1rem;
  cursor: pointer;
}
#fullAdresse {
  border: 1px black;
  font-size: 1.3rem;
  border-radius: 0.3rem;
  width: 23.3333%;
}
#fullAdresse::placeholder {
  color: black;
}
