#main {
  width: 100%;
  background-color: var(--blue);
  height: 70vh;
}
#main .wrap2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
#main .wrap2 .leftMain {
  width: 48%;

  z-index: 99;
}
#main .wrap2 .leftMain h1 {
  font-size: 2.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
#main .wrap2 .leftMain h2 {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

#main .wrap2 .top {
  border: solid 1px black;
  border-radius: 0.8rem;
  background-color: white;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 85%;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.28);
}

.bottom {
  width: 75%;
  text-align: center;
}

input[type="submit"] {
  width: 50%;
  background-color: var(--green);
  padding: 0.9rem;
  border-radius: 0.6rem;
  border: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.28);
}
#main .wrap2 select {
  border: none;
  font-size: 1.3rem;
}

#main .wrap2 .rightMain {
  width: 48%;
}

.nenu {
  position: absolute;
  width: 20%;
  bottom: 31%;
  left: -3%;
  z-index: 0;
}
.fleurs {
  position: absolute;
  width: 10%;
  left: 27%;
  top: 28%;
  z-index: -1;
}
