
#main {
  padding-top: 1rem;
  width: 100%;
  background-color: var(--blue);
  height: 95vh;
}
.wrap2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 1rem;
}
#main .wrap2 .leftMain {
  width: 48%;
  z-index: 99;
}
#main .wrap2 .leftMain h1 {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
#main .wrap2 .leftMain h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

#main .wrap2 .top {
  border-radius: .8rem;
  background-color: white;
  padding: 1.5rem;
  display: flex;
  align-items: top;
  justify-content: space-between;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.28);width: 120%;
 
}
.filterSearch {
  position: absolute;
}
.bottom {
  text-align: left;
}

.nenuFirst {
  position: absolute;
  width: 35%;
  top: 24%;
}
input[type="submit"] {
  cursor: pointer;
  width: 28.33333%;
  background-color: var(--green);
  padding: 0.9rem;
  border-radius: .8rem;
  border: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.28);
  transition: .5s;
}
input[type="submit"]:hover {
  background-color: var(--hover);
}
#main .wrap2 select {
  border: none;
  font-size: 1.3rem;
  width: 23.333%;
}

#main .wrap2 .rightMain {
  width: 50%;
}
#main .wrap2 .rightMain img {
  width: 82%;
}

.nenu {
  position: absolute;
  width: 20%;
  bottom: 31%;
  left: -3%;
  z-index: 0;
}
.fleurs {
  position: absolute;
  width: 30%;
  left: 67%;
  top: -128%;
  z-index: -1;
}
/* SOLUTIONS */


#solutions {
  padding: 5rem 2rem 10rem 2rem;
}
#solutions h2{
 font-weight: 500;
 text-align: center;
 font-size: 2.3rem;
 margin-bottom: 3rem;
}
.containe {
  position: relative;
  -webkit-box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.17);
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.17);
  background-color: var(--bleuVert);
  display: flex;
  align-items: top;
  justify-content: space-between;
  padding: 2rem;
  text-align: center;

  border-radius: .8rem

}
.containe .pic{
  width: 18.3333%;
}
.containe .pic img{
  margin-bottom: 1rem;
}

.containe .pic h3{
  font-weight: 500;
}
/* CARDS */
.wrap3 {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
#cards {
  margin-bottom: 2rem;
  background-color: var(--bleuVert);
  padding: 2rem 0 6rem 0;
}
#cards .wrap3 h2{
 text-align: center;

 margin-bottom: 3rem;
}
#cards .wrap3 .cards {
  display: flex;
  align-items: top;
  padding: .5rem;
  justify-content: space-between;

 }
#cards .wrap3 .cards .card{
  padding: 2rem;
  background-color: white;
  border-radius: .3rem;
  -webkit-box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.17);
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.17);
  width: 26.33333%;text-align: center;
  z-index: 0;
  position: relative;
 }
 #cards .wrap3 .cards .card img{
  position: absolute;
  width: 310px;
  left: -11%;
  top: -20%;
  z-index: -99;
  height: 310px;
 }
 .nenu {
   position: absolute;
   z-index: -1;
   left: -8%;
   top: -35%;
   width: 25%;
 }
 .frog {
  position: absolute;
  z-index: 99;
  right: 2%;
  top: -25%;
  width: 10%;
}
/* ADRESSE SEARCH */
.childrenSearch {
  display: none;
  position: absolute;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  left: 0;
  top: 40%;
  width: 300px;
  height: 230px;
  -webkit-box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.17);
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.17);
}
.infos {
  margin-bottom: 1rem;
  cursor: pointer;
}
#fullAdresse {
  border: 1px black;
  font-size: 1.3rem;
  border-radius: 0.3rem;
  width: 23.3333%;
}
#fullAdresse::placeholder {
  color: black;
}


