@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content{
    width: 50%;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
h2{
    margin-bottom: 2rem;
    font-size: 2.6rem;
}
h3{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.titre{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.4rem;
}
strong{
    font-weight: bold;
}

/* Responsive */

@media screen and (max-width: 900px) {
    .content{
        width: 75%;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.4rem;
    }
    p{
        font-size: 1rem;
    }
  }
