@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: black;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  font-weight: 400;
}

img {
  width: 100%;
}

.wrap {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

header .wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
header .wrap .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .wrap .left img {
  width: 20%;
}

header .wrap .right {
  display: flex;
}
header .wrap .right a {
  padding: 0.6rem;
  text-decoration: none;
  color: black;
  margin-left: 1rem;
  font-size: 1.3rem;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.28);
  border-bottom: 3px solid var(--green);
}

.btn {
  background-color: var(--green);
  border-radius: 0.9rem;
  color: white !important;
}

/*POPUP*/
.popup_hidden{
  display: none;
}
.popup_display{
  display: block;
}

/* FOOTER */

footer {
  background: url(/asset/img/wave.svg);
  padding: 10rem;
  background-color: aquamarine;
  background-size: cover;
}
footer .wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .wrap .footerLeft {
  width: 29%;
}
footer .wrap .footerLeft img {
  width: 24%;
  margin-bottom: 1rem;
}

.social {
  display: flex;
  align-items: center;
}
.social i {
  font-size: 1.2rem;
  margin-right: 1rem;
}
footer .wrap .footerRight {
  width: 69%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .wrap .footerRight h2 {
  font-weight: 500;
  margin-bottom: 1rem;
}
footer .wrap .footerRight p {
  margin-bottom: 1rem;
}

@media screen and (max-width:1080px) {
  #main .wrap2 .leftMain h1{font-size: 2rem;}
  #main .wrap2 .leftMain h2{font-size: 1rem;}
  #main .wrap2 .top{
    width: 90%;
  }
  #main .wrap2 select{
    font-size: 1rem;
  }
  #main .wrap2 .rightMain img{
    width: 55%;
  }
  input[type="submit"]{
    font-size: 1rem;
    width: 25%;
  }
  #solutions{
    margin: 0 auto;
  }
  #solutions .filtre{
    top: -90%;
  }
  #solutions .bigPic{
    top: -90%;
  }
  #solutions .txtSolutions{
    top: -20%;
  }
  #cards .wrapCards{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  #cards .wrapCards .card{
    width: 26%;
  }
}