@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
body {
  font-family: "Varela Round", sans-serif;
  overflow-x: hidden;
  font-weight: 400;
}

img {
  width: 100%;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

header .wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
header .wrap .left {
  display: flex;

  justify-content: center;
  flex-direction: column;
}
header .wrap .left a:nth-child(1){
 margin-left: 3rem;
}
header .wrap .left img {
  width: 20%;
}

.fa-bars {
  font-size: 2.3rem;
  cursor: pointer;
  display: none;
}
.cross {
  font-size: 2.3rem;
  cursor: pointer;

}
.crossNone {
  display: none!important;
}

.linkBlock {
  display: block!important;
}

header .wrap .right {
  display: flex;
}
header .wrap .right a {
  padding: 0.6rem;
  text-decoration: none;
  color: black;
  margin-left: 1rem;
  font-size: 1.3rem;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.28);
  border-bottom: 3px solid var(--green);
}

.btn {
  background-color: var(--green);
  border-radius: 0.9rem;
  color: white !important;
}

/*POPUP*/
.popup_hidden {
  display: none;
}
.popup_display {
  display: block;
}

/* FOOTER */

footer {
  background-color: #e7f7f3;
  padding: 2rem;
}
footer .wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .wrap .footerLeft {
  width: 29%;
}
footer .wrap .footerLeft img {
  width: 24%;
  margin-bottom: 1rem;
}
.foot {
  width: 23.333%;
}
.social {
  display: flex;
  align-items: center;
}
.social i {
  font-size: 1.2rem;
  margin-right: 1rem;
}
footer .wrap .footerRight {
  width: 69%;
  display: flex;
  align-items: top;
  justify-content: space-between;
}
footer .wrap .footerRight h2 {
  font-weight: 500;
  margin-bottom: 1rem;
}
footer .wrap .footerRight p {
  margin-bottom: 1rem;
}
